.modificacion {
    display: flex;
    width: 157px;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
}

.modificacion p {
    color: #285FF5;
    text-align: right;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.modificacion p:hover {
    cursor: pointer;
    text-decoration-line: none;
}

/* MODAL */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
}

.modalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    width: 772px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 12px;
    border: 1px solid #F6F6F6;
    background: #FFF;
}

.svgModal {
    position: absolute;
    right: 24px;
    top: 14px;
}

.svgModal:hover {
    cursor: pointer;
}

.modalContainer .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.modalContainer .title h2 {
    color: #0B3C70;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.modalContainer .title div {
    display: flex;
    align-items: center;
    gap: 6px;
}


.modalContainer .title div h3 {
    color: var(--light-03, #7B8794);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.modalContainer .containerHours {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.modalContainer .containerHours .hourItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    flex: 1 0 0;
}

.modalContainer .hourItem label {
    color: #0B3C70;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: auto;
}


.hourItem input {
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid #D8D8D8;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    text-align: center;
}

.containerHours .hourItem:first-child input {
    color: #7B8794;
}

.containerHours .hourItem:last-child input {
    color: #333;
}

.modalContainer .messageContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    flex: 1 0 0;;
    width: 100%;
}

.modalContainer .messageContainer label {
    color: #0B3C70;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.modalContainer .messageContainer textarea {
    display: flex;
    height: 120px;
    padding: 12px 14px;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid rgba(123, 135, 148, 0.30);
    background: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modalContainer .messageContainer textarea::placeholder {
    color: #C0C0C0
}

.modalContainer .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.buttons .cancel {
    display: flex;
    padding: 8px 60px;
    justify-content: center;
    align-items: center;
    border-radius: 96px;
    background: #F6F6F6;
    color: #0B3C70;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: -0.08px;
}

.buttons .cancel:hover {
    cursor: pointer;
}

.buttons .send {
    display: flex;
    padding: 8px 60px;
    justify-content: center;
    align-items: center;
    border-radius: 96px;
    background: #0B3C70;
    color: var(--text-button-primary, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: -0.08px;
}

.buttons .send:hover {
    cursor: pointer;
}