.item {
    display: flex;
    padding: 18px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid #FFF;
    background: #FFF;
}

.item h3:nth-child(odd) {
    width: 120px;
    color: #0B3C70;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.item h3:nth-child(even) {
    width: 120px;
    color: var(--light-03, #7B8794);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item .modificacion {
    display: flex;
    width: 157px;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
}