.options {
    display: flex;
    padding: 18px 12px 0px 12px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    /*border-bottom: 1px solid #F6F6F6;*/
}

.options a {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--blue, #285FF5);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.options a svg {
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.filtros {
    display: flex;
    align-items: center;
    gap: 18px;
}

.recientes {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: var(--dark-02, #7B8794);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.recientes:hover {
    cursor: pointer;
}

.filtro {
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 6px;
    border-radius: 6px;
    border: 1px solid #FFF;
    background: #FFF;
    box-shadow: 0px 0px 1.5px 1px rgba(0, 0, 0, 0.15);
}

.filtro select {
    border: none;
    background: #FFF;
    color: var(--light-03, #7B8794);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.filtro .tipoRegistro:hover {
    cursor: pointer;
}