.card {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #F6F6F6;
    background: #FFF;
}

.message {
    display: flex;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-radius: 6px;
    background: #F6F6F6;
}

.message p {
    color: var(--light-03, #7B8794);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.buttons button:hover {
    cursor: pointer;
}

.buttons button:first-child {
    display: flex;
    padding: 8px 60px;
    justify-content: center;
    align-items: center;
    border-radius: 96px;
    background: #F6F6F6;
    color: #0B3C70;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.08px;
}

.buttons button:last-child {
    display: flex;
    padding: 8px 60px;
    justify-content: center;
    align-items: center;
    border-radius: 96px;
    background: #0B3C70;
    color: var(--text-button-primary, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.08px;
}