.items {
    display: flex;
    padding: 18px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid #FFF;
}

.usuario {
    display: flex;
    width: 300px;
    align-items: center;
    gap: 6px;
}

.usuario img {
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 40px;
    /*background: url(https://s3-alpha-sig.figma.com/img/4838/ebf9/9f5d3b04e54d4bda4b727af5ea1e799c?Expires=1743379200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=OjuiJ9iriZqqOE72l-KP6Dww0UyXc9B5~oomNe-ku1QR-WKTmgYEk~XR4Yy~5V~MbI19w6OyflPM11uPMCXcOxWsYqgjnPTMgz5l785OXlhQxdNPb7xWGmmsO7psdWTdWejBEqynsfqy28~m-GrAtXwhyY3~yo0qiWLyWbQnE3BiSjX0DE30oP3BESuhfHg~v5JAL~DlY8Px5Yty9JsxP5PRJ014RJ6fs4RoQsa9Yu-vyhzBZxaxfqHlg~v61lNCuGBSOxhbrI3QSGkXtdWzW7W9KJMTWdSwNJ7MTQFCUN1~rkYYt5EQEP2C2~f~EwrhSlBisU23jSN4wFepiWJ2gw) lightgray 50% / cover no-repeat;*/
}

.personalInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.name {
    display: flex;
    align-items: center;
    gap: 6px;
}

.name h2 {
    color: #252525;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.personalInfo h4 {
    color: #7B8794;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.estado {
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.estadoActivo {
    display: flex;
    padding: 6px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border: 1.5px solid rgba(255, 255, 255, 0.00);
    background: #F6F6F6;
}

.estadoActivo h2 {
    color: #333;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.estadoInactivo {
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    border: 1px solid #FFD0CF;
    background: #FFDFDF;
}

.estadoInactivo h2 {
    color: #E94544;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.estadoPausa {
    display: flex;
    padding: 4px 18px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    border: 1px solid #FFD8BB;
    background: #FFE7D5;
}

.estadoPausa h2 {
    color: #FF8446;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.estadoVacaciones {
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    border: 1px solid #BEF5FF;
    background: #D8F9FF;
}

.estadoVacaciones h2 {
    color: #0B3C70;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.estadoFinJornada {
    display: flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    border: 1px solid #E6E6E6;
    background: #F6F6F6;
}

.estadoFinJornada h2 {
    color: #0B3C70;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.localizacion {
    width: 90px;
}

.localizacion h2 {
    color: #0B3C70;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.jornada {
    display: flex;
    width: 132px;
    padding: 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #EDEDED;
}

.jornada h2 {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}