.mainContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.mainContent div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.mainContent div h4 {
    color: #424955;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mainContent div:first-child {
    width: 120px;
}

.mainContent div .state {
    display: flex;
    flex-direction: row;
    padding: 6px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 6px;
    border: 1.5px solid rgba(255, 255, 255, 0.00);
    background: #F6F6F6;
}

.state p {
    overflow: hidden;
    color: #333;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.location {
    display: flex;
    width: 180px;
    padding: 6px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #EDEDED;
    background: #F6F6F6;
    color: #3C3C3B;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.mainContent div:nth-child(3) {
    width: 180px;
}

.mainContent div:last-child {
    width: 180px;
}

.inicio {
    display: flex;
    padding: 6px 12px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid #EDEDED;
    background: #FFF;
}

.final {
    display: flex;
    padding: 6px 12px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid #EDEDED;
    background: #FFF;
}

.inicio p {
    color: #B3B7BA;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.final p {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mainContent div:last-child div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    width: 100%;
}