.profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.personalImage {
    border-radius: 60px;
    background: url(https://s3-alpha-sig.figma.com/img/4838/ebf9/9f5d3b04e54d4bda4b727af5ea1e799c?Expires=1743379200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=OjuiJ9iriZqqOE72l-KP6Dww0UyXc9B5~oomNe-ku1QR-WKTmgYEk~XR4Yy~5V~MbI19w6OyflPM11uPMCXcOxWsYqgjnPTMgz5l785OXlhQxdNPb7xWGmmsO7psdWTdWejBEqynsfqy28~m-GrAtXwhyY3~yo0qiWLyWbQnE3BiSjX0DE30oP3BESuhfHg~v5JAL~DlY8Px5Yty9JsxP5PRJ014RJ6fs4RoQsa9Yu-vyhzBZxaxfqHlg~v61lNCuGBSOxhbrI3QSGkXtdWzW7W9KJMTWdSwNJ7MTQFCUN1~rkYYt5EQEP2C2~f~EwrhSlBisU23jSN4wFepiWJ2gw) lightgray 50% / cover no-repeat;  
}

.personalInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.personalInfo h2 {
    color: #252525;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.personalInfo h3 {
    color: #7B8794;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}